<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208917069756-tvdr86kvngjglgt4d3sjql2s5gstoucr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208917069756-tvdr86kvngjglgt4d3sjql2s5gstoucr</string>
	<key>API_KEY</key>
	<string>AIzaSyBCNh3N2sBVZtmgHVtlxIjo0Gh0HFdUTsM</string>
	<key>GCM_SENDER_ID</key>
	<string>208917069756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.apitec.toDoList</string>
	<key>PROJECT_ID</key>
	<string>apitec-12b71</string>
	<key>STORAGE_BUCKET</key>
	<string>apitec-12b71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:208917069756:ios:c211bb47b161edef1375b9</string>
	<key>DATABASE_URL</key>
	<string>https://apitec-12b71.firebaseio.com</string>
</dict>
</plist>
